.body {
  background-color: #000;
}

.image {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
  display: inline;
  overflow: visible;
  width: auto;
  max-width: 100%;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
  border-style: none;
  border-width: 100px 0px;
  border-color: #000;
  border-radius: 0px;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(0%, #636363), to(hsla(0, 0%, 100%, 0)));
  background-image: linear-gradient(180deg, #000, #636363 0%, hsla(0, 0%, 100%, 0));
  box-shadow: inset 1px 1px 3px 20px #000;
  opacity: 1;
  background-clip: content-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading {
  box-shadow: 0 0 3px 0 #000;
}

.heading-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  width: auto;
  height: auto;
  margin: -767px auto 0px;
  padding-top: 0px;
  padding-left: 60px;
  float: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  border-top: 1px none #000;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 75px;
  font-weight: 700;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.div-block {
  position: relative;
  z-index: auto;
  margin-top: 0px;
  float: none;
}

.div-block-2 {
  position: static;
  width: 100%;
  height: 10%;
  padding-left: 0px;
  background-color: red;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: contain;
  object-fit: contain;
}

.div-block-3 {
  position: relative;
  float: none;
  clear: none;
}

.image-2 {
  position: relative;
  -o-object-fit: fill;
  object-fit: fill;
}

.headerimage {
  position: absolute;
  bottom: auto;
  overflow: visible;
  width: 100%;
  height: auto;
  max-height: 1080px;
  min-height: 1080px;
  margin-bottom: 0px;
  border-radius: 0px;
  background-image: url('../images/1_intro_edited_lowres.jpg');
  background-position: 0% 0%;
  background-size: cover;
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: contain;
  object-fit: contain;
}

.textbg {
  position: relative;
  top: auto;
  display: block;
  overflow: visible;
  width: 50%;
  height: auto;
  max-height: none;
  max-width: 600px;
  min-height: 1080px;
  float: left;
  border-radius: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9)));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  background-clip: border-box;
  -webkit-text-fill-color: inherit;
  -o-object-fit: fill;
  object-fit: fill;
}

.heading-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-left: 20px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 60px;
}

.text-block-left {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  float: left;
  clear: none;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 40px;
  font-weight: 200;
  white-space: normal;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-right {
  position: relative;
  width: 50%;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
  float: right;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 40px;
  font-weight: 500;
}

.heading-4 {
  position: relative;
  height: 0px;
  margin-top: 200px;
  margin-left: 20px;
  font-family: Exo, sans-serif;
  color: #fff;
  font-weight: 600;
}

.text-block {
  position: relative;
  left: 20px;
  top: 20px;
  color: #fff;
  line-height: 20px;
}

.text-block-2 {
  position: relative;
  top: 60px;
  margin-top: auto;
  margin-bottom: 80px;
  margin-left: 20px;
  float: left;
  clear: left;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 30px;
}

.text-block-3 {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  float: left;
  clear: left;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  text-align: justify;
  text-indent: 40px;
}

.div-block-4 {
  position: relative;
  top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75px;
  min-height: 1080px;
  clear: left;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-image: url('../images/overview.png');
  background-position: 0px 0px;
  background-size: auto;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.bodyimagefull {
  position: relative;
  left: 10%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: auto;
  width: 80%;
  max-width: 100%;
  margin-top: 60px;
  float: none;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.video1 {
  position:relative;
  left:0%;
  top:1080px;
  right:0%;
  bottom: 0%;
  z-index:auto;
  width:80%;
  max-width: 100%;
  margin-top: 0px;
  float: none;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.video2 {
  position:relative;
  left:10%;
  top:0%;
  right:0%;
  bottom: 0%;
  z-index:auto;
  width:80%;
  max-width: 100%;
  margin-top: 0px;
  float: none;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.figure {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 20px;
  color: #afafaf;
  font-style: italic;
  text-align: left;
}

.bodyheader {
  position: relative;
  top: 0px;
  width: 70%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 15%;
  float: none;
  clear: left;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  -o-object-fit: fill;
  object-fit: fill;
}

.bodytext {
  position: relative;
  width: 60%;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 20%;
  float: left;
  clear: left;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  text-align: justify;
  text-decoration: none;
  text-indent: 100px;
}

.text-block-4 {
  width: 75px;
}

.bodyheader2 {
  width: 65%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 16%;
  clear: left;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 300;
}

.bodyimagefull-copy {
  position: relative;
  left: 10%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: auto;
  width: 80%;
  max-width: 100%;
  margin-top: 40px;
  margin-bottom: 0px;
  float: none;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-5 {
  position: relative;
  top: -48px;
  width: 60%;
  margin-left: 20%;
  padding-top: 0px;
  float: none;
  clear: both;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
}

.bodyheader-copy {
  position: relative;
  width: 70%;
  margin-top: 1102px;
  margin-bottom: 60px;
  margin-left: 15%;
  float: left;
  clear: left;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 40px;
  -o-object-fit: fill;
  object-fit: fill;
}

.text-block-2-copy {
  position: relative;
  top: 0px;
  margin-top: auto;
  margin-bottom: 80px;
  margin-left: 20px;
  float: left;
  clear: left;
  font-family: Exo, sans-serif;
  color: #fff;
  font-size: 42px;
  line-height: 50px;
  font-weight: 700;
}

.bodyimagefull-copy {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: auto;
  width: 100%;
  max-width: 100%;
  margin-top: 0px;
  float: none;
  clear: left;
  border-bottom: 1px none #000;
  border-radius: 0px;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

@media screen and (max-width: 991px) {
  .heading-3 {
    overflow: visible;
    margin-left: 20px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    line-height: 100%;
    letter-spacing: 0px;
    text-indent: 0px;
    -o-object-fit: scale-down;
    object-fit: scale-down;
  }
}
